@model StudyAbroad.Models.Institution

@{
    ViewData["Title"] = "Delete";
}

<div class="my-5 p-5">
    <div class="cover px-5 mx-auto" style="max-width: 1500px;">
        <h1 class="mt-5">@ViewData["Title"]</h1>
        <h3>Are you sure you want to delete <span class="text-danger" style="text-shadow: 2px 2px black; font-weight: bold;">@Html.DisplayFor(model => model.Name)</span>?</h3>
        <hr />

        <dl style="max-width: 1200px;" class="ms-1 my-5 row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Education)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Education)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Type)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Region)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Region)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.URL)
            </dt>
            <dd class="col-sm-8">
                <a target="_blank" href="@Html.DisplayFor(model => model.URL)">@Html.DisplayFor(model => model.URL)</a>
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Note)
            </dd>
        </dl>

        <form asp-action="Delete">
            <p class="text-end">
                <input type="hidden" asp-for="InstitutionID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-outline-light" asp-action="Index">Back to List</a>
            </p>
        </form>
    </div>
</div>

<style>
    body {
        font-family: monospace;
        color: white;
        background-image: url("/../images/uni.jpg");
        background-size: cover;
    }

    h1 {
        font-weight: bold;
        text-shadow: 2px 2px black;
    }
</style>