@using StudyAbroad.Models
@model PaginatedList<StudyAbroad.Models.Institution>

@{
    ViewData["Title"] = "Institutions";
}

<div class="p-5">
    <div class="p-5 cover">
        <h1 class="text-center my-5">@ViewData["Title"]</h1>
        <form asp-action="Index" method="get" class="my-3">
            <p class="text-md-end">
                <input type="text" name="search" value="@ViewData["Filter"]" placeholder="Filter by Name" style="width: 400px; font-size: 1.1rem; font-weight: bold;" />
                <input type="submit" value="Filter" class="btn btn-dark mt-1 mt-sm-0" />
                <a class="btn btn-outline-light mt-1 mt-sm-0" style="font-size: 0.9rem; text-shadow: none;" asp-action="Index">Clear</a>
            </p>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sort="@ViewData["Name"]" asp-route-filter="@ViewData["Filter"]">Name</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sort="@ViewData["Education"]" asp-route-filter="@ViewData["Filter"]">Education</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sort="@ViewData["Type"]" asp-route-filter="@ViewData["Filter"]">Type</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sort="@ViewData["Country"]" asp-route-filter="@ViewData["Filter"]">Country</a>
                    </th>
                    <th>
                        @Html.DisplayName("State")
                    </th>
                    <th>
                        @Html.DisplayName("URL")
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Education)
                            @{
                                if (item.Education != Education.College && item.Education != Education.University)
                                {
                                    <span> School</span>
                                }
                            }
                        </td>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Region)
                        </td>
                        <td style="border: none;">
                            <a target="_blank" href="@Html.DisplayFor(modelItem => item.URL)">@Html.DisplayFor(modelItem => item.URL)</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a style="text-shadow: 1px 1px black;" class="text-danger" asp-action="Edit" asp-route-id="@item.InstitutionID">Edit</a> |
                            <a style="text-shadow: 1px 1px black;" class="text-danger" asp-action="Details" asp-route-id="@item.InstitutionID">Details</a> |
                            <a style="text-shadow: 1px 1px black;" class="text-danger" asp-action="Delete" asp-route-id="@item.InstitutionID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @{
            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <p class="text-center">
            <a asp-action="Index"
               asp-route-sort="@ViewData["Sort"]"
               asp-route-page="@(Model.PageIndex - 1)"
               asp-route-filter="@ViewData["Filter"]"
               class="btn btn-outline-light @prevDisabled">
                Previous
            </a>
            <a asp-action="Index"
               asp-route-sort="@ViewData["Sort"]"
               asp-route-page="@(Model.PageIndex + 1)"
               asp-route-filter="@ViewData["Filter"]"
               class="btn btn-outline-light @nextDisabled">
                Next
            </a>
        </p>

        <p class="text-end m-0">
            <a class="btn btn-outline-danger" asp-action="Create">Add Institution</a>
        </p>
    </div>
</div>

<style>
    body {
        font-family: monospace;
        color: white;
        background-image: url("../images/uni.jpg");
        background-size: cover;
    }

    h1 {
        font-weight: bold;
        text-shadow: 2px 2px black;
    }
</style>
