@model IEnumerable<StudyAbroad.Models.Institution>

@{
    ViewData["Title"] = "Institution List";
}

<div id="list-wrapper" class="p-3">
    <h1 class="text-center mt-5">@ViewData["Title"]</h1>

    <div id="tablecover" class="p-3">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Education)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Region)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.URL)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Note)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Education)
                            @{
                                if (item.Education != Education.College && item.Education != Education.University)
                                {
                                    <span> School</span>
                                }
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Country)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Region)
                        </td>
                        <td>
                            <a target="_blank" href="@Html.DisplayFor(modelItem => item.URL)">@Html.DisplayFor(modelItem => item.URL)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.InstitutionID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.InstitutionID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.InstitutionID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="text-end">
            <a asp-action="Create">Create New</a>
        </p>
    </div>
</div>
