@model StudyAbroad.Models.Member

@{
    ViewData["Title"] = "Delete";
}

<div class="my-5 p-5">
    <div class="cover px-5 mx-auto" style="max-width: 1500px;">
        <h1 class="mt-5">@ViewData["Title"]</h1>
        <h3>Are you sure you want to delete <span class="text-danger" style="text-shadow: 2px 2px black; font-weight: bold;">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</span>?</h3>
        <hr />

        <dl style="max-width: 1200px;" class="ms-1 my-5 row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Gender)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Grade)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Grade)
                @if (Model.Grade.ToString() != "")
                {
                    if (Model.Grade == 1)
                    {
                        <span>st</span>
                    }
                    else if (Model.Grade == 2)
                    {
                        <span>nd</span>
                    }
                    else if (Model.Grade == 3)
                    {
                        <span>rd</span>
                    }
                    else
                    {
                        <span>th</span>
                    }
                }
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Country)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Region)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Region)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RegistrationDate)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Note)
            </dd>
        </dl>
        <form asp-action="Delete">
            <p class="text-end">
                <input type="hidden" asp-for="MemberID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-outline-light" asp-action="Index">Back to List</a>
            </p>
        </form>
    </div>
</div>

<style>
    body {
        font-family: monospace;
        color: white;
        background-image: url("/../images/note.jpg");
        background-size: cover;
    }

    h1 {
        font-weight: bold;
        text-shadow: 2px 2px black;
    }
</style>
