@model StudyAbroad.Models.Housing

@{
    ViewData["Title"] = "Delete";
}

<div class="my-5 p-5">
    <div class="cover px-5 mx-auto" style="max-width: 1500px;">
        <h1 class="mt-5">@ViewData["Title"]</h1>
        <h3>Are you sure you want to delete this?</h3>
        <hr />

        <dl style="max-width: 1200px;" class="ms-1 my-5 row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.HousingType)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.HousingType)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.HousingCost)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.HousingCost)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.AdditionalCost)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.AdditionalCost)
            </dd>
            <dt class="col-sm-4">Address</dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.City) City,
                @Html.DisplayFor(model => model.Region),
                @Html.DisplayFor(model => model.Country)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ZipCode)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Contact)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Contact)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.HousingWebsite)
            </dt>
            <dd class="col-sm-8">
                <a href="#">@Html.DisplayFor(model => model.HousingWebsite)</a>
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Note)
            </dd>
        </dl>
        <form asp-action="Delete">
            <p class="text-end">
                <input type="hidden" asp-for="HousingID" />
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a class="btn btn-outline-light" asp-action="Index">Back to List</a>
            </p>
        </form>
    </div>
</div>

<style>
    body {
        font-family: monospace;
        color: white;
        background-image: url("/../images/house.jpg");
        background-size: cover;
    }

    h1 {
        font-weight: bold;
        text-shadow: 2px 2px black;
    }
</style>
