@model StudyAbroad.Models.Housing

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Housing</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Semester)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Semester)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HousingType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HousingType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HousingCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HousingCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdditionalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdditionalCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoveInDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoveInDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HousingWebsite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HousingWebsite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ZipCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealPlan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealPlan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MealCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MealCost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.HousingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
