@model IEnumerable<StudyAbroad.Models.CourseMember>

@{
    ViewData["Title"] = "Program and Member";
}

<div class="p-5">
    <div class="p-5 cover">
        <h1 class="text-center my-5">@ViewData["Title"]</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Course)
                    </th>
                    <th colspan="2">
                        @Html.DisplayNameFor(model => model.Member)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Member.LastName)

                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id=item.CourseID }) |
                            @Html.ActionLink("Details", "Details", new { id=item.CourseID }) |
                            @Html.ActionLink("Delete", "Delete", new { id=item.CourseID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="text-end">
            <a class="btn btn-outline-danger" asp-action="Create">Add List</a>
        </p>
    </div>
</div>

<style>
    body {
        font-family: monospace;
        color: white;
        background-image: url("../images/cm.jpg");
        background-size: cover;
    }

    h1 {
        font-weight: bold;
        text-shadow: 2px 2px black;
    }
</style>
