@model StudyAbroad.Models.Course

@{
    ViewData["Title"] = Model.Name;
}

<div class="my-5 p-5">
    <div class="cover px-5 mx-auto" style="max-width: 1500px;">
        <h1 class="mt-5 text-center">@ViewData["Title"]</h1>
        <h2 class="ms-5">@Html.DisplayFor(model => model.Institution.Name) <span class="btn btn-outline-danger" style="font-weight: bold;">@Html.DisplayFor(model => model.Institution.Type)</span></h2>
        <hr />

        <dl style="max-width: 1200px;" class="mx-auto my-5 row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ContactHours)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ContactHours) hours
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Duration)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Duration) weeks
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Tuition)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Tuition)
            </dd>
            <dt class="col-sm-4">Location</dt>
            <dd class="col-sm-8 mb-5">
                @Html.DisplayFor(model => model.Institution.Region),
                @Html.DisplayFor(model => model.Institution.Country)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Prerequisites)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Prerequisites)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Note)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Note)
            </dd>
        </dl>
        <div class="text-end">
            <a class="btn btn-outline-danger" asp-action="Edit" asp-route-id="@Model?.CourseID">Edit</a>
            <a class="btn btn-outline-light" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

<style>
    body {
        font-family: monospace;
        color: white;
        background-image: url("/../images/course.jpg");
        background-size: cover;
    }

    h1 {
        font-weight: bold;
        font-style: italic;
        text-shadow: 2px 2px black;
    }
</style>
