@model IEnumerable<StudyAbroad.Models.Course>

@{
    ViewData["Title"] = "Programs";
}

<div class="p-5">
    <div class="p-5 cover">
        <h1 class="text-center my-5">@ViewData["Title"]</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Program Name</th>
                    <th>Institution</th>
                    <th>
                        @Html.DisplayNameFor(model => model.ContactHours)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Duration)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Tuition)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Prerequisites)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Institution.Name)
                        </td>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.ContactHours) hours
                        </td>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Duration) weeks
                        </td>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Tuition)
                        </td>
                        <td rowspan="2">
                            @Html.DisplayFor(modelItem => item.Prerequisites)
                        </td>
                        <td style="border: none;">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a style="text-shadow: 1px 1px black;" class="text-danger" asp-action="Edit" asp-route-id="@item.CourseID">Edit</a> |
                            <a style="text-shadow: 1px 1px black;" class="text-danger" asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                            <a style="text-shadow: 1px 1px black;" class="text-danger" asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <p class="text-end">
            <a class="btn btn-outline-danger" asp-action="Create">Add Program</a>
        </p>
    </div>
</div>

<style>
    body {
        font-family: monospace;
        color: white;
        background-image: url("../images/course.jpg");
        background-size: cover;
    }

    h1 {
        font-weight: bold;
        text-shadow: 2px 2px black;
    }
</style>
